<script type="text/ng-template" id="details">
  <div class="details-inner">
    <div class="inner">
      <h4 class="ani">{{result.lastname}} {{result.firstname}}</h4>
      <div class="ani line">
        <img ng-src="{{gravatar(result.email, 140)}}" />
      </div>
      <div class="ani line">
        <p ng-hide="!result.city" class="ani line">Living in {{result.city}}</p>
        <p><i class="icon-thumbs-up" /> : 
          <span ng-repeat="like in result.likes">
            {{like}}
            <span ng-if="!$last">, </span>
          </span>
        </p>
        <p><i class="icon-thumbs-down" /> : 
          <span ng-repeat="hate in result.hates">
            {{hate}}
            <span ng-if="!$last">, </span>
          </span>
        </p>
      </div>
    </div>
  </div>
</script>

<div class="results">
  <a href="" 
     bzh-details="{enter:'details-enter',leave:'details-leave',show:'details-show',hide:'details-hide'}"
     id="id-{{result.lastname}}{{result.firstname}}" 
     ng-repeat="result in geeks | filter: {likes :q}" 
     class="result" 
     ng-animate="{leave:'list-out', enter:'list-in', move:'list-move'}">
    <div class="inner">
      <h5>{{result.lastname}} {{result.firstname}}</h5>
      <img ng-src="{{gravatar(result.email, 140)}}" />
    </div>
  </a>
  <div class="load-more-results">
    <div  class="medium btn info">
      <a href="" ng-click="more()">
        <i class="icon-search"></i>
        Load More Results
      </a>
    <div>
  </div>
</div>
