<!--
Google IO 2012 HTML5 Slide Template

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahe <lukem@google.com>

URL: https://code.google.com/p/io-2012-slides
-->
<!DOCTYPE html>
<html>
<head>
  <title>Javascript du sol au plafond - Breizhcamp 2013</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="theme/css/default.css">
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="theme/css/phone.css">
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
  <script data-main="js/slides" src="js/require-1.0.8.min.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

<!-- <slide class="logoslide nobackground">
  <article class="flexbox vcenter">
    <span><img src="images/google_developers_logo.png"></span>
  </article>
</slide>
 -->
<slide class="title-slide segue nobackground">
  <aside class="gdbar"><img src="images/logo.png"></aside>
  <!-- The content of this hgroup is replaced programmatically through the slide_config.json. -->
  <hgroup class="auto-fadein">
    <h1 data-config-title><!-- populated from slide_config.json --></h1>
    <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
    <p data-config-presenter><!-- populated from slide_config.json --></p>
  </hgroup>
</slide>


<slide  >
  
    <hgroup>
      <h2>Content</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Javascript is everywhere !</p>
<p>Case study : <code>geektic</code>* written entirely in Javascript and powered by</p>
<ul>
<li><code>Angular.js</code> for the frontend</li>
<li><code>Node.js</code> for the backend</li>
<li><code>MongoDB</code> for the NoSQL database</li>
</ul>
<p>* geektic was originaly developed by the code-story team for DevoxxFR 2013 (see <a href="https://github.com/CodeStory/code-story-geektic">https://github.com/CodeStory/code-story-geektic</a>)</p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Hands-on lab</h2>
      <h3></h3>
    </hgroup>
    <article ><p>4 main parts : </p>
<ul>
<li><code>MongoDB</code> : "NoSQL loves JSON"</li>
<li><code>Node.js</code> : "Server-side JS"</li>
<li><code>Angular.js</code> : "Superheroic Javascript MVW Framework"</li>
<li><code>grunt, make and co.</code> : "JS tooling is good !"</li>
</ul>
<p>Exercises : </p>
<ul>
<li>A Git repository with some code and todos</li>
<li>One tag per exercise</li>
<li>Reset your workspace with the following command ("n" is the exercise's number):</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
git checkout -f exercise-n
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Prerequisites - shell & make</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>A command line tool!</li>
<li>A <code>Make</code> tool<ul>
<li><code>make -v</code> must work</li>
</ul>
</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
make -v
GNU Make 3.81
Copyright (C) 2006  Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
</pre>

<p>For windows users</p>
<ul>
<li>Git for windows comes with a command line tool (see next slide)</li>
<li>For the make tool, you can install <code>mingw32-make</code></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Prerequisites - git</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Git : see <a href="http://git-scm.com/">http://git-scm.com/</a><ul>
<li><code>git --version</code> must work</li>
</ul>
</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
git --version
git version 1.7.9.5
</pre>

<p><img alt="git_logo" src="http://git-scm.com/images/logos/2color-lightbg@2x.png" /></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Prerequisites - node.js</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Node.js : see <a href="http://nodejs.org/">http://nodejs.org/</a><ul>
<li><code>node -v</code> and <code>npm -v</code> must work</li>
</ul>
</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
node -v
v0.10.7
</pre>

<pre class="prettyprint" data-lang="cmd">
npm -v
1.2.21
</pre>

<p><img alt="nodejs_logo" src="http://upload.wikimedia.org/wikipedia/en/a/a7/Nodejs_logo_light.png" /></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Prerequisites - mongodb</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>MongoDB : see <a href="http://docs.mongodb.org/manual/installation/">http://docs.mongodb.org/manual/installation/</a><ul>
<li><code>mongo --version</code> must work</li>
</ul>
</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
mongo --version
MongoDB shell version: 2.2.4
</pre>

<ul>
<li>Installation<ul>
<li>Unzip the bundle</li>
<li>add the <code>bin</code> directory to your PATH</li>
</ul>
</li>
</ul>
<p><img alt="mongodb_logo" src="http://shvetsgroup.com/files/images/mongo-db-huge-logo_0.png" /></p></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>MongoDB</h2>
      <h3>NoSQL loves JSON</h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>Geek document</h2>
      <h3></h3>
    </hgroup>
    <article ><p>MongoDB is a document-oriented NoSQL database.</p>
<p>This kind of JSON documents will be inserted into the Mongo database : </p>
<pre class="prettyprint" data-lang="json">
{
    "firstname" : "Prunier",
    "lastname" : "Sébastien",
    "email" : "me@my-domain.com",
    "city" : "Nantes",
    "likes" : ["Javascript", "Breizhcamp"],
    "hates" : ["Rain"]
}
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Start mongod</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Use the <code>--dbpath</code> argument to set the mongo data directory</p>
<pre class="prettyprint" data-lang="cmd">
mongod --dbpath=/home/sebprunier/data/mongo/breizhcamp-js/
</pre>

<p>Check the logs in the console</p>
<pre><code>...
Tue Jun  4 16:47:17 [websvr] admin web console waiting for connections on port 28017
Tue Jun  4 16:47:17 [initandlisten] waiting for connections on port 27017
</code></pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Mongo shell</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Connect to the <code>geeksDB</code> database</p>
<pre class="prettyprint" data-lang="cmd">
mongo geeksDB
</pre>

<p>Great ! Here is the mongo shell !</p>
<pre><code>MongoDB shell version: 2.2.4
connecting to: geeksDB
&gt;
</code></pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Insert geeks</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Insert geeks into the <code>geeks</code> collection :</p>
<pre class="prettyprint" data-lang="cmd">
db.geeks.insert({"firstname": "Prunier", "lastname": "Sébastien", 
        "email": "seb@domain.com", "city": "Nantes", 
        "likes" : ["java","javascript","breizhcamp"], "hates": ["fish"]})

db.geeks.insert({"firstname": "Seignard", "lastname": "Xavier", 
        "email": "xav@domain.com", "city": "Nantes", 
        "likes" : ["javascript","arduino","node.js"], "hates": ["scala", "idea"]})

db.geeks.insert({"firstname": "your first name", "lastname": "your last name", 
        "email": "your email", "city": "your city", 
        "likes" : ["things you like"], "hates": ["things you hate"]})
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Find a geek</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Execute this query to find a geek :</p>
<pre class="prettyprint" data-lang="cmd">
db.geeks.findOne()
</pre>

<p>Results should look like :</p>
<pre class="prettyprint" data-lang="json">
{
    "_id" : ObjectId("51ae04733579e9826523e0fb"),
    "firstname" : "Prunier",
    "lastname" : "Sébastien",
    "email" : "seb@domain.com",
    "city" : "Nantes",
    "likes" : ["java", "javascript", "breizhcamp"],
    "hates" : ["fish"]
}
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Find geeks</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Geeks that love javascript (ignoring case)</p>
<pre class="prettyprint" data-lang="cmd">
db.geeks.find( { "likes" : /^javascript$/i } )
</pre>

<p>First 3 geeks that love javascript
<pre class="prettyprint" data-lang="cmd">
db.geeks.find( { "likes" : /^javascript$/i } ).limit(3)
</pre></p>
<p>3 geeks that love javascript, skiping the first one
<pre class="prettyprint" data-lang="cmd">
db.geeks.find( { "likes" : /^javascript$/i } ).limit(3).skip(1)
</pre></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Exercise 1</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Checkout the workspace for exercise 1</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
git checkout -f exercise-1
</pre>

<ul>
<li>Play with the Mongo shell !<ul>
<li>Insert geeks</li>
<li>Execute some <code>find</code> queries</li>
<li>Try to write a <code>find</code> query that uses a regular expression</li>
</ul>
</li>
</ul></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Node.js</h2>
      <h3>JS on the server side</h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>Node.js</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Javascript on the server side !</li>
<li>Single threaded</li>
<li>Event-driven model</li>
<li>Asynchronous I/O</li>
<li>Google's V8 Javascript engine</li>
<li>NPM : Node Packaged Modules</li>
</ul>
<p><img alt="nodejs_logo" src="http://upload.wikimedia.org/wikipedia/en/a/a7/Nodejs_logo_light.png" /></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>"Hello World" with Node.js</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Create a file named <code>hello.js</code></p>
<pre class="prettyprint" data-lang="javascript">
var http = require('http');

http.createServer(function (req, res) {
    res.writeHead(200, {'Content-Type': 'text/plain'});
    res.end('Hello World\n');
}).listen(8888, 'localhost');

console.log('Server running at http://localhost:8888/');
</pre>

<p>Run the script</p>
<pre class="prettyprint" data-lang="cmd">
node hello.js
</pre>

<p>Test with your favorite browser (<code>http://localhost:8888/</code>) !</p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Node.js and MongoDB</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Install the native driver with NPM (Node Packaged Modules)</p>
<ul>
<li><code>npm install mongodb --save</code></li>
<li>the <code>--save</code> option adds the package in the <code>dependencies</code> section of the <code>package.json</code> file</li>
</ul>
<pre class="prettyprint" data-lang="json">
{
  "name": "breizhcamp-js_backend",
  "dependencies": {
    "mongodb": "~1.3.2",
  },
  "engines": {
    "node": "0.10.x",
    "npm": "1.2.x"
  }
}
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Connect to the Mongo Database</h2>
      <h3></h3>
    </hgroup>
    <article ><pre class="prettyprint" data-lang="javascript">
var MongoClient = require('mongodb').MongoClient;

var uri = require('../conf/conf').MONGO_URL;

MongoClient.connect(uri, function(err, db) {
    // err : Error object, if an error occured
    // db : use this object to query the Mongo database !
}
</pre>

<p>Configuration</p>
<pre class="prettyprint" data-lang="javascript">
var Conf = {
    MONGO_URL : process.env.MONGO_URL || 'mongodb://localhost:27017/geeksDB'
};

module.exports = Conf;
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Remove existing geeks ...</h2>
      <h3></h3>
    </hgroup>
    <article ><pre class="prettyprint" data-lang="javascript">
db.collection('geeks', function(err, collection) {
    collection.remove({}, function(err, removed){
        console.log(removed + " geek(s) removed !");
    });
}
</pre>

<p>With the Mongo shell : </p>
<pre class="prettyprint" data-lang="cmd">
db.geeks.remove({});
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Insert geeks !</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Geeks are available in the <code>geeks.json</code> file</p>
<pre class="prettyprint" data-lang="javascript">
var geeks = require('./geeks.json');

db.collection('geeks', function(err, collection) {
    collection.insert(geeks, {safe : true}, function(err, result) {
        console.log(result.length + " geek(s) inserted !");
    });
}
</pre>

<p><code>safe</code> : the callback is executed after the geeks are saved to the database</p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Exercise 2</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Checkout the workspace for exercise 2 : </li>
</ul>
<pre class="prettyprint" data-lang="cmd">
git checkout -f exercise-2
</pre>

<ul>
<li>Write a script to populate the geeksDB database, from the <code>geeks.json</code> file.</li>
<li>Check the script execution with the Mongo shell !</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Exercise 2 - advanced features</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>To go further : if you dive into the <code>callback hell</code> and do not like it, try <code>async</code> !</li>
</ul>
<pre class="prettyprint" data-lang="javascript">
async = require('async');
async.series(
    [
        // 1- remove geeks
        function(callback) {...};
        // 2- insert geeks
        function(callback) {...};
    ],
    function(err, results) {...}
);
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>REST API for geeks backend</h2>
      <h3></h3>
    </hgroup>
    <article ><p>POST /geek</p>
<ul>
<li>Creates a new geek</li>
<li>Returns the <code>201 - Created</code> status code</li>
</ul>
<p>GET /geek/likes/:like?</p>
<ul>
<li>Find geeks by affinity<ul>
<li><code>like</code> is an optional path parameter. If not set, it returns all the geeks.</li>
</ul>
</li>
<li>Optional query parameters : <ul>
<li><code>limit</code> : number of geeks to return (default 12)</li>
<li><code>skip</code> : offset to manage pagination (default 0)</li>
</ul>
</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Hello world with Express.js</h2>
      <h3></h3>
    </hgroup>
    <article ><pre class="prettyprint" data-lang="javascript">
var express = require('express');
var app = express();

// configure routes
app.get('/hello', function(req, res){
  res.send('Hello World');
});

// start server
app.listen(3000);
console.log('Listening on port 3000');
</pre>

<p>Run the script and make a test with your browser (<code>http://localhost:3000/hello</code>)</p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Separation Of Concerns (1/3)</h2>
      <h3></h3>
    </hgroup>
    <article ><p>One module for the routes management</p>
<pre class="prettyprint" data-lang="javascript">
var GeeksRoutes = function(geeksRepo) {

    var _create = function(req, res) {
        geeksRepo.insert(req.body, function() {
            res.status(201).send();
        });
    };

    return {
        create : _create,
    };

};
module.exports = GeeksRoutes;
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Separation Of Concerns (2/3)</h2>
      <h3></h3>
    </hgroup>
    <article ><p>One module for the repository management</p>
<pre class="prettyprint" data-lang="javascript">
var GeeksRepository = function(dbUrl, collectionName) {
    var MongoClient = require('mongodb'), db, coll;
    // some stuff here to connect to the database and retrieve the coll object.

    var _insert = function(geek, callback) {
        coll.insert(geek, function(err, item) {
            callback(err, item);
        });
    };

    return {
        insert : _insert,
    };
};
module.exports = GeeksRepository;
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Separation Of Concerns (3/3)</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Put all together !</p>
<pre class="prettyprint" data-lang="javascript">
var express = require('express'),
    conf = require('./conf/conf'),
    app = express(),
    GeeksRepository = require('./core/geeksRepository'),
    GeeksRoutes = require('./routes/geeksRoutes');

// configure geeks repository
var geeksRepository = new GeeksRepository(conf.MONGO_URL, 'geeks');
geeksRepository.connect();

// configure routes
var routes = new GeeksRoutes(geeksRepository);
app.post('/geek', routes.create);
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Unit tests with Mocha (TDD)</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Tests for the routes, using some custom mock objects.</p>
<pre class="prettyprint" data-lang="javascript">
var assert = require('assert'),
    GeeksRoutes = require('../../src/routes/geeksRoutes'),
    geeksRepository = require('../mocks/geeksRepository.mock'),
    Response = require('../mocks/response.mock'),
    routes = new GeeksRoutes(geeksRepository);

describe('GeeksRoutes', function() {
    describe('#create()', function() {
        it('should create geek', function() {
            var response = new Response();
            var req = { body : { "NOM" : "test-geek" } };
            routes.create(req, response);
            assert.equal(response.getStatus(), 201);
        });
    });
});</article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Tooling</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Mocha : Test Driven Development for Javascript</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
mocha -R spec `find test/ -name "*.test.js"`
</pre>

<ul>
<li>JSHint : static code analysis for Javascript</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
jshint src test --show-non-errors
</pre>

<ul>
<li>YuiDocs : generates code documentation</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
yuidoc src -o reports/docs
</pre>

<ul>
<li>Istanbul : code coverage</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Exercise 3</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Checkout the workspace for exercise 3 : </li>
</ul>
<pre class="prettyprint" data-lang="cmd">
git checkout -f exercise-3
</pre>

<ul>
<li>Write the code to manage the <code>find</code> route</li>
<li>Complete the unit tests</li>
<li>Execute the test with the Makefile<ul>
<li><code>make test</code></li>
</ul>
</li>
<li>Run the app and test the REST API <ul>
<li>with your browser</li>
<li>with a tool to make http requests (curl for example)</li>
</ul>
</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Node.js good reads</h2>
      <h3></h3>
    </hgroup>
    <article ><p>Node.js overview :</p>
<ul>
<li><a href="http://nodejs.org/api/">http://nodejs.org/api/</a> RTFM FTW!</li>
<li><a href="http://www.nodebeginner.org/">http://www.nodebeginner.org/</a></li>
<li><a href="http://visionmedia.github.io/masteringnode/book.html">http://visionmedia.github.io/masteringnode/book.html</a> by <a href="https://github.com/visionmedia/">TJ Holowaychuk</a> (express &amp; mocha creator)</li>
</ul>
<p>Node.js good practices :</p>
<ul>
<li><a href="http://nodeguide.com/style.html">http://nodeguide.com/style.html</a> by <a href="https://github.com/felixge">Felix Geisendörfer</a> (node.js core developer)</li>
<li><a href="http://caolanmcmahon.com/posts/nodejs_style_and_structure/">http://caolanmcmahon.com/posts/nodejs_style_and_structure/</a> by Caolan McMahon (async creator)</li>
</ul></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Angular.js</h2>
      <h3>Superheroic Javascript Framework !</h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>Angular.js</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Superheroic Javascript Framework !</li>
<li>Angular's Philosophy :<ul>
<li>Declarative programming for UI (HTML)</li>
<li>Imperative programming for business logic (Javascript)</li>
<li>Two-way data binding</li>
<li>No DOM manipulation</li>
<li>HTML extension (directives)</li>
<li>Focus on application testing</li>
</ul>
</li>
</ul>
<p><img alt="angular_logo" src="http://t3.gstatic.com/images?q=tbn:ANd9GcTZazTKcUtj-8Dsjj4ETOjeALpJ7JffXxWbYlQrmtWb3Y9qnhTyWW_y-b0IKg" /></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>How to start ?</h2>
      <h3></h3>
    </hgroup>
    <article ><p>A solution : <code>Angular Seed</code> !</p>
<p>This is a skeleton for a typical AngularJS web app</p>
<ul>
<li>HTML template and views</li>
<li>Controller</li>
<li>Examples of code for directives, filters and services</li>
<li>Unit tests and End-to-end tests</li>
</ul>
<p>Clone the Github repository and start hacking ...</p>
<p><a href="https://github.com/angular/angular-seed">https://github.com/angular/angular-seed</a></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>View and template</h2>
      <h3></h3>
    </hgroup>
    <article ><p><code>app/index.html</code></p>
<pre class="prettyprint" data-lang="html">
&lt;html lang="en" ng-app&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Geektic&lt;/title&gt;
&lt;/head&gt;
&lt;body ng-controller="GeeksListCtrl"&gt;
    &lt;div ng-repeat="geek in geeks"&gt;
        &lt;h4&gt;{{geek.lastname}} {{geek.firstname}}&lt;/h4&gt;
        &lt;p&gt;From {{geek.city}}&lt;/p&gt;
    &lt;/div&gt;
    &lt;script src="lib/angular/angular.js"&gt;&lt;/script&gt;
    &lt;script src="js/controllers.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Model and controller</h2>
      <h3></h3>
    </hgroup>
    <article ><p><code>app/js/controllers.js</code></p>
<pre class="prettyprint" data-lang="javascript">
function GeeksListCtrl($scope) {
    $scope.geeks = [
        {...},
        {...}
    ];
}
</pre>

<p>Remember ...</p>
<pre class="prettyprint" data-lang="html">
&lt;body ng-controller="GeeksListCtrl"&gt;
</pre>

<p>and</p>
<pre class="prettyprint" data-lang="html">
&lt;div ng-repeat="geek in geeks"&gt;
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Unit tests</h2>
      <h3></h3>
    </hgroup>
    <article ><p><code>test/unit/controllersSpec.js</code></p>
<pre class="prettyprint" data-lang="javascript">
describe('breizhcamp-js backend controllers', function() {
  describe('GeeksListCtrl', function(){
    var scope, ctrl;

    beforeEach(function() {
      scope = {}, ctrl = new GeeksListCtrl(scope);
    });

    it('should create "geeks" model with 3 geeks', function() {
      expect(scope.geeks.length).toBe(3);
    });
  });
});
</pre>

<p>Take a look at <code>scripts/test.sh</code> and run it !</p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>End-to-end tests</h2>
      <h3></h3>
    </hgroup>
    <article ><p><code>test/e2e/scenario.js</code></p>
<pre class="prettyprint" data-lang="javascript">
describe('breizhcamp-js backend app', function() {
  describe('Geeks list view', function() {

    beforeEach(function() {
      browser().navigateTo('../../app/index.html');
    });


    it('should filter the geeks list as user types into the search box', function() {
      expect(repeater('.geeks div').count()).toBe(3);
    });
  });
});
</pre>

<p>Take a look at <code>scripts/e2e-test.sh</code> and run it !</p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Exercise 4</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Checkout the workspace for exercise 4 : </li>
</ul>
<pre class="prettyprint" data-lang="cmd">
git checkout -f exercise-4
</pre>

<ul>
<li>Complete the model with some "static geeks"</li>
<li>Complete the index.html view to rendre the geeks</li>
<li>Play with the filtering<ul>
<li>add an input text to filter the data</li>
<li>use the filter in the ng-repeat directive</li>
</ul>
</li>
</ul>
<pre class="prettyprint" data-lang="html">
&lt;input ng-model="query" /&gt;
...
&lt;div ng-repeat="geek in geeks | filter:query" &gt;
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>XHR</h2>
      <h3></h3>
    </hgroup>
    <article ><p>With the angular's <code>$http</code> service, it's easy to make HTTP requests to the backend.</p>
<pre class="prettyprint" data-lang="html">
function GeeksListCtrl($scope, $http) {
    $http.get('geek/likes').success(function(data){
        $scope.geeks = data;
    });
}
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Exercise 5</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Checkout the workspace for exercise 5 : </li>
</ul>
<pre class="prettyprint" data-lang="cmd">
git checkout -f exercise-5
</pre>

<ul>
<li>Use the <code>$http</code> service to request the backend</li>
<li>Use the <code>ng-change</code> directive to update the model when the search query changes</li>
</ul>
<p>To go further ...</p>
<ul>
<li>Try to use the <code>$resource</code> service</li>
</ul>
<pre class="prettyprint" data-lang="javascript">
var Geeks = $resource('/geek/likes/:like?');
$scope.geeks = Geeks.get({like : $scope.query});
</pre></article>
 
</slide>

<slide class="segue dark nobackground" >
  
    <aside class="gdbar"><img src="images/logo.png"></aside>
    <hgroup class="auto-fadein">
      <h2>grunt, make and co.</h2>
      <h3>JS tooling is good !</h3>
    </hgroup>
  
</slide>

<slide  >
  
    <hgroup>
      <h2>Building the server side</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>A POM (Plain Old Makefile), not a <code>pom.xml</code>!</li>
<li>Get the things done</li>
<li>Define targets for each task, e.g. clean, test, linting, etc.</li>
</ul>
<pre class="prettyprint" data-lang="makefile">
clean:
    rm -rf reports
</pre>

<ul>
<li>Define variables that can be reused in tasks</li>
</ul>
<pre class="prettyprint" data-lang="makefile">
MOCHA="node_modules/.bin/mocha"
TESTS=$(shell find test/ -name "*.test.js")

test:
    $(MOCHA) -R spec $(TESTS)
</pre>

<ul>
<li>Run a target with <code>make target</code></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Continuous integration</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>
<p>Jenkins ready!</p>
</li>
<li>
<p>The tooling we use, can produce various reports (unit testing, checkstyle, coverage, ...)</p>
</li>
<li>
<p>Define a continuous integration target that call other targets</p>
</li>
</ul>
<pre class="prettyprint" data-lang="makefile">
ci: clean xunit checkstyle coverage sonar
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Mocha reporters</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>
<p>Various outputs when running the tests : spec, xunit, nyan cat, etc. (see: <a href="http://visionmedia.github.io/mocha/#reporters">http://visionmedia.github.io/mocha/#reporters</a>)</p>
</li>
<li>
<p>You can use buit-in reporters or extend Mocha by creating your own reporter.</p>
</li>
<li>
<p>Install the xunit-file reporter to produce xunit compliant file</p>
</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
npm install xunit-file --save-dev
</pre>

<ul>
<li>TODO : Create a Makefile target that produce the xunit file<ul>
<li>see the docs here : <a href="https://github.com/peerigon/xunit-file">https://github.com/peerigon/xunit-file</a></li>
</ul>
</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Code coverage with Istanbul</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Pretty straightforward, but note the double dash to distinguish <code>istanbul</code> args from the <code>mocha</code> ones and the use of <code>_mocha</code> internal executable (see <a href="https://github.com/gotwarlost/istanbul/issues/44">istanbul/issues/44</a>)</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
istanbul cover _mocha -- -R spec test/**/*.test.js
</pre>

<ul>
<li>
<p>TODO : Create a Makefile target that only produce a lcov file</p>
</li>
<li>
<p>lcov format is directly usable by Sonar</p>
</li>
<li>To display coverage results in Jenkins, use <a href="http://eriwen.github.io/lcov-to-cobertura-xml/">lcov-to-cobertura</a> + <a href="https://wiki.jenkins-ci.org/display/JENKINS/Cobertura+Plugin">jenkins coverage plugin</a></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Frontend package management with Bower</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li><a href="http://bower.io/">Bower</a> is a repository of packaged components (JS, CSS, or whatever)</li>
<li>Defined in <code>bower.json</code>.</li>
<li>
<p>You can depend on various format of assets</p>
<ul>
<li>Registered asset within bower : <code>bower install jquery</code></li>
<li>Files : <code>bower install http://domain.com/myFile.js</code></li>
<li>Archives : <code>bower install http://domain.com/myArchive.zip</code></li>
<li>Github repo : <code>bower install repoOwner/repo</code></li>
<li>Github tag/commit <code>bower install jquery#1.9.1</code></li>
</ul>
</li>
<li>
<p>TODO : create the <code>bower.json</code> file with <code>bower init</code> and manage angular libs with bower.</p>
</li>
<li>Use <code>bower search</code> and <code>bower install XXX --save</code></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Building the client side with Grunt</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li><a href="http://gruntjs.com">Grunt</a> is a JS task runner.</li>
<li>Install <code>grunt-cli</code> globally, and <code>grunt</code> as a dev dependency in your project.</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
npm install grunt-cli -g;npm install grunt --save-dev
</pre>

<ul>
<li>Create a <code>Gruntfile.js</code></li>
</ul>
<pre class="prettyprint" data-lang="javascript">
module.exports = function(grunt) {
  // project configuration
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json')
    // the tasks definition goes here
  });
  grunt.registerTask('default', []);
};
</pre>

<ul>
<li>Run <code>grunt</code> (will do nothing but without errors :))</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Grunt</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Plugin based</li>
<li>Official ones start with <code>grunt-contrib</code>, see <a href="http://gruntjs.com/plugins">http://gruntjs.com/plugins</a></li>
<li>Add the clean plugin</li>
</ul>
<pre class="prettyprint" data-lang="cmd">
npm install grunt-contrib-clean --save-dev
</pre>

<ul>
<li>And add the following in <code>Gruntfile.js</code> to make the task available</li>
</ul>
<pre class="prettyprint" data-lang="javascript">
grunt.loadNpmTasks('grunt-contrib-clean');
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Grunt (continued)</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>You can now define the <code>clean</code> task (JSON object or array) and plug this task in your build lifecycle.</li>
</ul>
<pre class="prettyprint" data-lang="javascript">
module.exports = function(grunt) {
  // project configuration
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json')
    // the tasks definition goes here
    clean: ['myDistDir']
  });
  grunt.registerTask('default', [clean]);
  grunt.loadNpmTasks('grunt-contrib-clean');
};
</pre>

<ul>
<li>The command <code>grunt</code> is a shorthand for <code>grunt default</code>. You can also call single tasks, e.g. <code>grunt clean</code></li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Grunt (continued)</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>You can define sub and super tasks inside your task to be more specific</li>
</ul>
<pre class="prettyprint" data-lang="javascript">
module.exports = function(grunt) {
  // project configuration
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json')
    // the tasks definition goes here
    clean: {
      build: ['myDistDir'],
      postbuild: ['myDistDir/tmp']
    }
  });
  grunt.registerTask('default', [clean:build]);
  grunt.registerTask('buildCleanUp', [clean:postbuild]);
  grunt.registerTask('mySuperTask', [default, buidCleanUp]);

  grunt.loadNpmTasks('grunt-contrib-clean');
};
</pre></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Frontend build process</h2>
      <h3></h3>
    </hgroup>
    <article ><p>It mainly consists on the following tasks:</p>
<ul>
<li>lint your code</li>
<li>run tests</li>
<li>concatenate your JS and CSS files</li>
<li>minify your code</li>
<li>copy all the assest and created files in a dist folder</li>
</ul>
<p>You can do much more to fit exactly your needs.</p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Real Gruntfile.js example</h2>
      <h3></h3>
    </hgroup>
    <article ><p>We are going to change of branch, save and commit what you want to keep.</p>
<pre class="prettyprint" data-lang="cmd">
git checkout master
</pre>

<p>And open <code>client/Gruntfile.js</code>.</p>
<p>TODO1 : try to run some of the defined tasks</p>
<p>TODO2 : adapt the <code>watch</code> task to have an always up-to-date build dir.</p>
<p>See <a href="http://livereload.com/">livereload</a> or the livereload script definition in <code>client/src/index.html</code> </p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Moar Grunt</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li><a href="http://gruntjs.com/getting-started">http://gruntjs.com/getting-started</a> RTFM FTW!</li>
<li>Amazing API : <a href="http://gruntjs.com/api/grunt">http://gruntjs.com/api/grunt</a></li>
<li>Super easy to create your own tasks : <a href="http://gruntjs.com/api/grunt.task#grunt.task.registertask">http://gruntjs.com/api/grunt.task#grunt.task.registertask</a></li>
<li>A ton of <a href="http://gruntjs.com/plugins">plugins</a>!</li>
</ul></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>CI and QA</h2>
      <h3></h3>
    </hgroup>
    <article ><p>We are able to define super tasks with <code>make</code> and <code>grunt</code> so you just need to create a ci task for each.</p>
<p>For QA you can generate reports from the tools involved in the build, or use Sonar.</p>
<p>Sonar digests xunit files for test results and lcov files for coverage, and we shown how to generate these ones. Just install the <a href="http://docs.codehaus.org/display/SONAR/JavaScript+Plugin">Javascript plugin</a></p></article>
 
</slide>

<slide  >
  
    <hgroup>
      <h2>Node.js (continuous) deployment</h2>
      <h3></h3>
    </hgroup>
    <article ><ul>
<li>Use <a href="http://wiki.nginx.org/Main">nginx</a> (or similar) to serve static content and as a reverse proxy for your node.js server.</li>
<li>Use git post commit hooks (or a secure copy) to update your production code.</li>
<li>
<p>Use a service manager to run your app</p>
<ul>
<li><a href="http://man.he.net/man8/init">init</a>, <a href="http://upstart.ubuntu.com/">upstart</a>, <a href="http://freedesktop.org/wiki/Software/systemd/">systemd</a></li>
</ul>
</li>
<li>
<p>Icing on the cake : try Socket based activation! Run your app only when people are using it. (see <a href="http://www.freedesktop.org/software/systemd/man/systemd.socket.html">systemd.socket</a> as potential solution)</p>
</li>
</ul></article>
 
</slide>


<slide class="thank-you-slide segue nobackground">
  <aside class="gdbar right"><img src="images/logo.png"></aside>
  <article class="flexbox vleft auto-fadein">
    <h2>&lt;Thank You!/&gt;</h2>
    <p>Any questions?</p>
  </article>
  <p class="auto-fadein" data-config-contact>
    <!-- populated from slide_config.json -->
  </p>
</slide>

<!-- <slide class="logoslide dark nobackground">
  <article class="flexbox vcenter">
    <span><img src="images/google_developers_logo_white.png"></span>
  </article>
</slide> -->

<slide class="backdrop"></slide>

</slides>

<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-XXXXXXXX-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>