<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body ng-controller="GeeksListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

        Likes: <input ng-model="query" ng-change="update()">
        Sort by:
        <select ng-model="orderProp">
          <option value="firstname">Name</option>
          <option value="city">City</option>
        </select>

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="geeks">
          <div class="well" ng-repeat="geek in geeks | orderBy:orderProp">
            <h4><i class="icon-user icon-black"></i> {{geek.lastname}} {{geek.firstname}}</h4>
            <p>From {{geek.city}}</p>
            <p>Likes : <span class="label label-success" ng-repeat="like in geek.likes"> {{like}} </span></p>
            <p>Hates : <span class="label label-important" ng-repeat="hate in geek.hates"> {{hate}} </span></p>
          </div>
        </ul>

      </div>
    </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>
